<h1 class="t-center">Dashboard</h1>

<table border="1" style="width:100%">
  <thead>
    <th>
      <h2>Structural Directives</h2>
    </th>
    <th>
      <h2>Attribute Directives</h2>
    </th>
  </thead>
  <tbody>
    <tr>
      <td>
        <ul>
          <li>
            <a routerLink="/ngif">ngIf</a>
          </li>
          <li>
            <a routerLink="/ngifelse">ngIf-else</a>
          </li>
          <li>
            <a routerLink="/ngfor">ngFor</a>
          </li>
          <li>
            <a routerLink="/ngswitch">ngSwitch</a>
          </li>
        </ul>
      </td>
      <td>
        <ul>
          <li>
            <a routerLink="/ngclass">ngClass</a>
          </li>
          <li>
            <a routerLink="/ngstyle">ngStyle</a>
          </li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>
