<h1 class="t-center"> NgIf-else Directive Demo</h1>
<div style="margin-top:30px">
  Select Gender:
  <select [(ngModel)]="gender">
    <option value="">-- Select --</option>
    <option value="m">Male</option>
    <option value="f">Female</option>
  </select>
</div>
<hr />
<h1 style="margin-top:10px;width:100%" class="t-center" *ngIf="gender else empty">
  <span *ngIf="gender=='m' else girl" class="boy">You are a Boy</span>
</h1>

<ng-template #empty>
  <h1 style="margin-top:10px;width:100%" class="t-center none">
    <span>Please select a gender</span>
  </h1>
</ng-template>

<ng-template #girl>
  <span class="girl">You are a Girl</span>
</ng-template>

<div class="footer">
  <h3>Explanation:</h3>
  <ul>
    <li>Select gender from dropdown</li>
    <li>Based on selected gender's internal value,The Message will be displayed</li>
    <ul>
      <li>In code, two times NgIf + Else directives are used (i.e if-else condition)</li>
      <li>In else clause,code is in ng-template (reusable code)</li>
    </ul>
    <li>If no gender is selected then default message will be displayed</li>
  </ul>
</div>
