li {
    font-size: x-large;
    padding-top: 5px;
}

.metro,
.first-last {
    color: red;
    text-decoration: underline;
}

.bb {
    border-bottom: 2px solid green;
    margin-top: 20px;
    align-items: center;
}
